include ~containers/video/mixin

mixin workCard(data)
	-
		data = data || {};
		data.video.class = 'workCard__video'
	article.workCard(
		class=data.class
		class=mods('workCard', data.mods)
	)&attributes(data.attributes)
		.workCard__head
			.workCard__label #{data.label}
			h4.workCard__title !{data.title}
		.workCard__body
			+video(data.video)
		.workCard__footer
			a()&attributes(data.button.attributes).workCard__link #{data.button.text}
