include ~components/section/mixin
include ~components/sectionHead/mixin
include ~components/sectionTitle/mixin
include ~components/container/mixin
include ~components/image/mixin
include ~components/picture/mixin
include ~components/button/mixin
include ~containers/video/mixin

-
	items = [
		{
			nav: 'Съемка Reels',
			slider: {
				title: 'Наши работы',
				reels: true,
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
					{
						src: '/images/temp/work-2.png',
						srcset: {
							'2x': '/images/temp/work-2@2x.png'
						},
						title: `Фитнес-резинки`,
						brand: 'Amazon',
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						title: `Фитнес-резинки`,
						brand: 'Amazon',
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
					},
					{
						src: '/images/temp/work-2.png',
						srcset: {
							'2x': '/images/temp/work-2@2x.png'
						},
						title: `Фитнес-резинки`,
						brand: 'Amazon',
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
				]
			}
		},
		{
			nav: 'Рекламные видео',
			slider: {
				title: 'Наши работы',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
				]
			}
		},
		{
			nav: 'Презентационный ролик',
		},
		{
			nav: 'Упаковка маркетплейсов',
		},
		{
			nav: 'Имиджевые видео',
		},
		{
			nav: '2D и 3D графика',
		},
		{
			nav: 'Дипфейки',
			slider: {
				title: 'Наша работа',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
				]
			}
		},
		{
			nav: 'Коммерческая фотосъёмка',
			slider: {
				title: 'Наши работы',
				images: [
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-4.png',
						srcset: {
							'2x': '/images/temp/work-4@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-4.png',
						srcset: {
							'2x': '/images/temp/work-4@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-5.png',
						srcset: {
							'2x': '/images/temp/work-5@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-5.png',
						srcset: {
							'2x': '/images/temp/work-5@2x.png'
						},
						link: 'Посмотреть все работы'
					},
				]
			}
		},
	]

mixin tab(data)
	-
		sliderData = items[data.index].slider
		hasSlider = sliderData
			? sliderData.videos && sliderData.videos.length > 1
			|| sliderData.images && sliderData.images.length > 1
			: false
	.sectionCatalog__tab(data-tab=data.index class=data.index === 0 && 'is-active')
		.sectionCatalog__tab-body
			.sectionCatalog__tab-head
				.sectionCatalog__tab-title #{data.title}
				| !{data.text}
			.sectionCatalog__tab-text
				block
			.sectionCatalog__tab-button
				+button({
					text: 'УЗНАТЬ СТОИМОСЬ',
					mods: ['block']
				})
		if (sliderData)
			.sectionCatalog__tab-aside
				.sectionCatalog__slider-head(
					class=(sliderData.reels && 'sectionCatalog__slider-head--reels')) #{sliderData.title}
				.sectionCatalog__slider(data-ref=(hasSlider && "slider"))
					if (sliderData.images)
						each image in sliderData.images
							.sectionCatalog__slide.sectionCatalog__slide--image
								.sectionCatalog__image
									+image(image)
								if (image.link)
									.sectionCatalog__slide-footer
										a(href="#" target="_blank").sectionCatalog__slide-link #{image.link}
					if (sliderData.videos)
						each video in sliderData.videos
							.sectionCatalog__slide(class=(sliderData.reels ? 'sectionCatalog__slide--reels' : 'sectionCatalog__slide--video'))
								+video({
									class: sliderData.reels
										? 'sectionCatalog__reels'
										: 'sectionCatalog__video',
									image: video,
									attributes: {
										target: '_blank',
										href: 'https://youtu.be/q_AIjV_3hrM',
									}
								})
								if (video.title || video.brand)
									.sectionCatalog__slide-footer
										.sectionCatalog__slide-title #{video.title}
										.sectionCatalog__slide-brand #{video.brand}
								if (video.link)
									.sectionCatalog__slide-footer
										a(href="#" target="_blank").sectionCatalog__slide-link #{video.link}

+section({
	class: ['sectionCatalog', 'js-sectionCatalog']
})
	for i in [1,2,3]
		+picture({
			class: `sectionCatalog__figure-${i}`,
			src: `/images/figures/section-figure-${i}.png`,
			srcset: {
				'2x': `/images/figures/section-figure-${i}@2x.png`
			},
			source: [
				{
					media: '(min-width: 1024px)',
					src: `/images/figures/section-figure-${i}-desktop.png`,
					srcset: {
						'2x': `/images/figures/section-figure-${i}-desktop@2x.png`
					},
					type: 'image/png'
				},
				{
					media: '(min-width: 640px)',
					src: `/images/figures/section-figure-${i}-tablet.png`,
					srcset: {
						'2x': `/images/figures/section-figure-${i}-tablet@2x.png`
					},
					type: 'image/png'
				}
			]
		})
	+container
		+sectionHead
			+sectionTitle Что мы делаем лучше других
			p У нас заказывают рекламные ролики, фильмы-презентации, клипы и другие форматы.
		nav.sectionCatalog__nav
			ul.sectionCatalog__nav-list
				each item, index in items
					li
						button.sectionCatalog__nav-button(
							data-tab=index
							data-click='tab'
							class=index === 0 && 'is-active') #{item.nav}
	.sectionCatalog__tabs
		+tab({
			index: 0,
			title: 'Reels и Stories',
			text: 'Мы единственная команда на рынке, готовая выпускать видеоконтент для ваших социальных сетей «под ключ»',
		})
			.sectionCatalog__tab-subtitle Над вашим проектом, будут трудиться:
			.sectionCatalog__lists
				ul.sectionCatalog__list
					li тренера речевой харизмы
					li редактор и копирайтеры
					li съемочная команда
				ul.sectionCatalog__list
					li сценаристы
					li продюсер
		+tab({
			index: 1,
			title: 'Рекламные видео',
			text: `
			<p>Реклама раскрывает преимущества и особенности товара, побуждая зрителя к покупке.</p>
			<p>30-секундный ролик расскажет о вашем продукте больше и лучше, чем самый навороченный сайт.</p>
			`,
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li запуск нового продукта или услуги
				li увеличение узнаваемости бренда
				li повышение продаж
				li привлечение новых клиентов
				li поддержка имиджа и лояльности
		+tab({
			index: 2,
			title: 'Презентационное видео о компании',
			text: `Рассказ о компании и демонстрация ее ценностей через художественные и эмоциональный приемы.`,
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li поиск партнеров и клиентов
				li привлечение инвестиций
				li выход на новые рынки
				li ребрендинг
		+tab({
			index: 3,
			title: 'Упаковка маркетплейсов',
			text: `
				<p>Презентация или реклама продукта на любых маркетплейсах мира.</p>
				<p>Тщательно изучим ваш товар и покажем его с лучшей стороны. Мы поможем вам вызвать у покупателя желание купить его.</p>
			`,
		})
		+tab({
			index: 4,
			title: 'Имиджевое видео',
			text: 'Креативный рассказ о компании. Такие ролики размещают на сайте, показывают на встречах и включают на публичных мероприятиях.',
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li создание или корректировка имиджа
				li выход компании на новые рынки
				li создание имиджа компании
				li демонстрация технологий
				li привлечение инвестиций
				li поиск партнёров
				li ребрендинг
		+tab({
			index: 5,
			title: 'Создание 2D и 3D графики',
			text: 'Возьмемся за реализацию самых смелых идей с помощью анимации и компьютерной графики.',
		})
			p
				strong Создадим удивительные визуальные произведения,
				| #{' '}которые не только запомнятся, но и помогут достичь целей:
			ul.sectionCatalog__list
				li 3D-модели
				li визуальные эффекты
				li рекламные и промо-ролики
				li VR и дополненная реальность
				li визуализации для сайтов и приложений
		+tab({
			index: 6,
			title: 'Создание DEEPFAKE',
			text: `Да! Мы создаем дипфейки! Для вас мы сможем воссоздать практически любого популярного персонажа и внедрить в ваш видеоролик!`,
		})
			.sectionCatalog__tab-subtitle2 Мы уже успешно реализовали создание точных копий:
			p Квентина Тарантино для телеканала ТНТ, Джену Ортегу (актриса из сериала Уэнсдэй), на чьем ютуб канале уже более 5 миллионов подписчиков, Леонардо Ди Каприо, Марго Роби, Роберта Паттисона и многих других.
		+tab({
			index: 7,
			title: 'Коммерческая фотосъёмка',
			text: `Жанр фотографии на стыке рекламы и искусства. Применим для всех сфер бизнеса и коммуникаций.`,
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li создание интернет-каталогов
				li запуск наружной рекламы
				li упаковка продукции
				li запуск сайтов
