include ~components/section/mixin
include ~components/sectionHead/mixin
include ~components/sectionTitle/mixin
include ~components/container/mixin
include ~components/picture/mixin
include ./tab

-
	items = [
		{
			nav: 'Рекламные видео',
			slider: {
				title: 'Наши работы',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
				]
			}
		},
		{
			nav: 'Имиджевое видео',
			slider: {
				title: 'Наши работы',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
				]
			}
		},
		{
			nav: 'Презентационное видео о компании',
			slider: {
				title: 'Наши работы',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
				]
			}
		},
		{
			nav: 'Упаковка маркетплейсов',
			slider: {
				title: 'Наши работы',
				reels: true,
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
					{
						src: '/images/temp/work-2.png',
						srcset: {
							'2x': '/images/temp/work-2@2x.png'
						},
						title: `Фитнес-резинки`,
						brand: 'Amazon',
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						title: `Фитнес-резинки`,
						brand: 'Amazon',
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
					},
					{
						src: '/images/temp/work-2.png',
						srcset: {
							'2x': '/images/temp/work-2@2x.png'
						},
						title: `Фитнес-резинки`,
						brand: 'Amazon',
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
				]
			}
		},
		{
			nav: 'Съемка подкастов',
			slider: {
				title: 'Наши работы',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
				]
			}
		},
		{
			nav: 'Создание DEEPFAKE',
			slider: {
				title: 'Наша работа',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						}
					},
				]
			}
		},
		{
			nav: 'Создание 2D и 3D графики',
			slider: {
				title: 'Наши работы',
				videos: [
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
					{
						src: '/images/temp/work.png',
						srcset: {
							'2x': '/images/temp/work@2x.png'
						},
						link: 'Подробнее о кейсе'
					},
				]
			}
		},
		{
			nav: 'Коммерческая фотосъёмка',
			slider: {
				title: 'Наши работы',
				images: [
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-3.png',
						srcset: {
							'2x': '/images/temp/work-3@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-4.png',
						srcset: {
							'2x': '/images/temp/work-4@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-4.png',
						srcset: {
							'2x': '/images/temp/work-4@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-5.png',
						srcset: {
							'2x': '/images/temp/work-5@2x.png'
						},
						link: 'Посмотреть все работы'
					},
					{
						src: '/images/temp/work-5.png',
						srcset: {
							'2x': '/images/temp/work-5@2x.png'
						},
						link: 'Посмотреть все работы'
					},
				]
			}
		},
	]

+section({
	class: ['sectionCatalog', 'js-sectionCatalog']
})
	for i in [1,2,3]
		+picture({
			class: `sectionCatalog__figure-${i}`,
			src: `/images/figures/section-figure-${i}.png`,
			srcset: {
				'2x': `/images/figures/section-figure-${i}@2x.png`
			},
			source: [
				{
					media: '(min-width: 1024px)',
					src: `/images/figures/section-figure-${i}-desktop.png`,
					srcset: {
						'2x': `/images/figures/section-figure-${i}-desktop@2x.png`
					},
					type: 'image/png'
				},
				{
					media: '(min-width: 640px)',
					src: `/images/figures/section-figure-${i}-tablet.png`,
					srcset: {
						'2x': `/images/figures/section-figure-${i}-tablet@2x.png`
					},
					type: 'image/png'
				}
			]
		})
	+container
		+sectionHead({class: 'sectionCatalog__head'})
			+sectionTitle Что мы делаем лучше других
			p У нас заказывают рекламные ролики, фильмы-презентации, клипы и другие форматы.
		nav.sectionCatalog__nav
			ul.sectionCatalog__nav-list
				each item, index in items
					li
						button.sectionCatalog__nav-button(
							data-tab=index
							data-click='tab'
							class=index === 0 && 'is-active') #{item.nav}
	.sectionCatalog__tabs
		+tab({
			active: true,
			index: 0,
			slider: items[0].slider,
			title: 'Рекламные видео',
			text: `
				<p>Реклама раскрывает преимущества и особенности товара, побуждая зрителя к покупке.</p>
				<p>30-секундный ролик расскажет о вашем продукте больше и лучше, чем самый навороченный сайт.</p>
			`,
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li запуск нового продукта или услуги
				li увеличение узнаваемости бренда
				li повышение продаж
				li привлечение новых клиентов
				li поддержка имиджа и лояльности
		+tab({
			index: 1,
			slider: items[1].slider,
			title: 'Имиджевое видео',
			text: 'Креативный рассказ о компании. Такие ролики размещают на сайте, показывают на встречах и включают на публичных мероприятиях.',
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li создание или корректировка имиджа
				li выход компании на новые рынки
				li создание имиджа компании
				li демонстрация технологий
				li привлечение инвестиций
				li поиск партнёров
				li ребрендинг
		+tab({
			index: 2,
			slider: items[2].slider,
			title: 'Презентационное видео о компании',
			text: `Рассказ о компании и демонстрация ее ценностей через художественные и эмоциональный приемы.`,
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li поиск партнеров и клиентов
				li привлечение инвестиций
				li выход на новые рынки
				li ребрендинг


		+tab({
			index: 3,
			slider: items[3].slider,
			title: 'Упаковка маркетплейсов',
			text: `
				<p>Презентация или реклама продукта на любых маркетплейсах мира.</p>
				<p>Тщательно изучим ваш товар и покажем его с лучшей стороны. Мы поможем вам вызвать у покупателя желание купить его.</p>
			`,
		})
		+tab({
			index: 4,
			slider: items[4].slider,
			title: 'Съемка подкастов',
			text: `Cъемка видеоподкаста вместе с предпринимателем или собственником/представителем бизнеса, а также последующее дробление его на риллсы (от 10 до 30шт).`,
		})
			.sectionCatalog__tab-subtitle2 Основная задача данного продукта - донести через живой, непринужденный диалог нужную информацию:
			ul.sectionCatalog__list
				li подтверждение экспертности человека в кадре;
				li выгоду от товара/услуги/сотрудничества;
				li раскрытие личности владельца бизнеса;
				li нативную рекламу продукта/услуги;
				li ценности личности/компании.
		+tab({
			index: 5,
			slider: items[5].slider,
			title: 'Создание DEEPFAKE',
			text: `Да! Мы создаем дипфейки!<br>Для вас мы сможем воссоздать практически любого популярного персонажа и внедрить в ваш видеоролик!`,
		})
			.sectionCatalog__tab-subtitle2 Мы уже успешно реализовали создание точных копий:
			| Квентина Тарантино для телеканала ТНТ, Джену Ортегу (актриса из сериала Уэнсдэй), на чьем ютуб канале уже более 5 миллионов подписчиков, Леонардо Ди Каприо, Марго Роби, Роберта Паттисона и многих других.
		+tab({
			index: 6,
			slider: items[6].slider,
			title: 'Создание 2D и 3D графики',
			text: 'Возьмемся за реализацию самых смелых идей с помощью анимации и компьютерной графики.',
		})
			p
				strong Создадим удивительные визуальные произведения,
				| #{' '}которые не только запомнятся, но и помогут достичь целей:
			ul.sectionCatalog__list
				li 3D-модели
				li визуальные эффекты
				li рекламные и промо-ролики
				li VR и дополненная реальность
				li визуализации для сайтов и приложений
		+tab({
			index: 7,
			slider: items[7].slider,
			title: 'Коммерческая фотосъёмка',
			text: `Жанр фотографии на стыке рекламы и искусства. Применим для всех сфер бизнеса и коммуникаций.`,
		})
			.sectionCatalog__tab-subtitle Когда пригодится?
			ul.sectionCatalog__list
				li создание интернет-каталогов
				li запуск наружной рекламы
				li упаковка продукции
				li запуск сайтов
